
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

h4 {
    text-align: center;
    font-size: 1.37rem;
    font-weight: bold;
}

.navbar-header
{
    display:block;
    background-color: #29363b;
}

.nav-list {
    background-color: rgba(41, 54, 59, 0.8);
}

.signup {
    border: 3px solid #2ECEFF;
    border-radius: 1rem;
}

.login {
    background-color:#2ECEFF;
    border-radius: 1rem;
}

.mobile1 {
    width: 7.5rem;
    position: relative;
    top: 0;
    right: -2em;
    z-index: 1;
}

.mobile2 {
    width: 7.5rem;
    position: relative;
    top: 3em;
    right: 2em;
}

.heading h3 {
    text-align: center;
    position: relative;
    top: 1em;
    font-weight: bold;
    font-size: 1.75rem;
}

.heading {
    text-align: center;
    background-image: url(./img/bg-img.png), url(./img/diagonal-bg-design-left.png), url(./img/diagonal-bg-design-right.png);
    background-position: right top, 0rem 11.25rem, 18.75rem 47.5rem;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 23.45rem 36.25rem, 3.7rem 12.5rem, 5em 11.25rem;
}

.brainy {
    position: relative;
    top: 3em;
    width: 9.375rem;
}

.features {
    color: #f5f5f5;
    background-color: #29363B;
    box-sizing: border-box;
}

.features h4 {
    padding: 0.8rem 0.5rem;
}

.feat-box {
    text-align: center;
    color: #373737;
    padding: 0px 10px 2px;
    width: 9rem;
    background-color: #FFFFFF;
    margin: 0.8rem auto;
}

.feat-img {
    width: 7.5rem;
    padding: 20px 10px 10px;
}

.download {
    background-color: #f5f5f5;
    padding-bottom: 8.125rem;
}

.download-img {
    width: 16.875rem;
}

.download-link p {
    font-size: 0.875rem;
    margin: 10px 10px 50px;
}

.download-link img {
    width: 10.625rem;
}


.review-img {
    width: 11.25rem;
}

/*  */
blockquote:before {
    font-family: Georgia, serif;
    color: #698C9A;
    position: relative;
    font-size: 3.5em;
    line-height: 1;
    top: -0.1em;
    left: -0.5em;
    content: "\201C";
}

blockquote {
    color: #434343;
    font-size: 0.875rem;
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
}

blockquote:after {
    font-family: Georgia, serif;
    color: #698C9A;
    position: relative;
    float:right;
    font-size: 3.5em;
    line-height: 1;
    right: 0.9em;
    bottom: -0.6em;
    content: "\201D";
}

.icon-left {
    padding: 20px 15px;
    font-size: 1rem;
    background-color: #698C9A;
    border-radius: 6px 0px 0px 6px;
    opacity: 1;
    position: relative;
    top: 0em;
    right: 0.7em;
}

.icon-right {
    padding: 20px 15px;
    font-size: 1rem;
    background-color: #698C9A;
    border-radius: 0px 6px 6px 0px;
    opacity: 1;
    position: relative;
    top: 0em;
    right: -0.7em;
}

.foot {
    color: white;
    background-color: #29363b;
}

.email-text {
    display: inline-block; 
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    width: 70%;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 20px 0 0 20px;
}

.email-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    color: #fff;
    background-color: #2ECEFF;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .75rem;
    line-height: 1.5;
    border-radius: 0 20px 20px 0;
}

.email {
    padding: auto 0;
}

.foot p{
    font-size: 0.69rem;
}

.foot a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    .mobile1 {
        top: 0.5rem;
    }
    
    .mobile2 {
        top: 3.5rem;
    }
    
    .heading h3 {
        top: 2.8rem;
    }

    .brainy {
        top: 4.75em;
        width: 9.75rem;
    }
    
    .feat-box {
        width: 10rem;
        margin: 0.8rem auto;
    }

    blockquote:after {
        right: 2.25em;
    }

    .foot .email-form {
        width: 30rem;
        margin: 0 auto;
        position: static;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    h4 {
        font-size: 2.5rem;
    }

    .feat-box {
        width: 10rem;
    }

    .features .row {
        justify-content: space-around;
    }
    
    .download-img {
        width: 20rem;
    }

    .download-link img {
        width: 13.5rem;
    }

    .reviews h4 {
        font-size: 2.5rem;
    }

    blockquote {
        font-size: 1rem;
        margin: 0.5em;
    }

    blockquote:after {
        position: relative;
        float:right;
        right: 4em;
        bottom: -0.6em;
        content: "\201D";
    }
    
    .foot .email-form {
        right: -3rem;
    }

    .emial-form h5 {
        text-align: center;
    }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .main-nav {
       background-color: #29363b;
    }

    .main-nav ul li {
       padding: 20px 5px 10px;
    }

    .login {
        background: transparent;
        border: 3px solid #2eceff;
        border-radius: 0.625rem;
        margin-right: 5rem;
    }
   
    .mobile1 {
        width: 12rem;
        position: relative;
        top: 2rem;
        right: -10rem;
        z-index: 0;
    }
    
    .mobile2 {
        width: 12rem;
        position: relative;
        top: 5rem;
        right: -8rem;
    }

    .brainy {
        position: relative;
        top: -24rem;
        right: 20rem;
        width: 12rem;
    }

    .heading h3 {
        font-size: 3.4rem;
        position: relative;
        top: -4rem;
        right: 20rem;
    }

    .heading {
        height: 56rem;
        background-position: right top, 40px 600px, 1230px 1100px;
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: 1350px 1500px, 150px 280px, 120px 220px;
    }

    .brief {
        position: relative;
        top: -18rem;
    }

    .brief h4 {
        font-size: 2.5rem;
        padding-bottom: 1.875rem;
    }

    .brief p {
        font-size: 1.5rem;
    }

    .features h4 {
        font-size: 2.5rem;
    }

    .feat-box {
        box-sizing: border-box;
        font-size: 1.5rem;
        margin: 50px 8px;
        padding: 1.25rem;
        width: 12.75rem;
        height: 14rem;
    }

    .feat-img {
        width: 7rem;
        padding: 1.75rem 0.625rem 0.625rem;
    }
    
    .download h4 {
        font-size: 2.5rem;
    }

    .download-img {
        width: 24rem;
        height: 31.625rem;
        padding-top: 3rem;
        margin-right: 4rem;
    }

    .download-link p {
        text-align: justify;
        width: 30rem;
        font-size: 1.25rem;
    }

    .download-link img {
        width: 22rem;
        height: 7rem;
    }

    .reviews {
        box-sizing: border-box;
        background: url(./img/diagonal-bg-design-right.png) no-repeat;
        background-position: 1550px -80px;
        background-size: 70px 200px;
        padding: 30px 0px 70px;
    }

    .reviews .row {
        margin: 1.875rem;
    }

    .reviews h4 {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .review-img {
        width: 12rem;
    }

    .review-col {
        border-right: 1px solid black;
    }

    blockquote {
        font-size: 16px;
        width: 15rem;
    }

    blockquote:after {
        right: -0.2em;
        bottom: -0.6em;
    }

    .foot-signup,
    .foot ul,
    .foot h5,
    .foot h4 {
        text-align: justify;
    }
    
    .foot h5,
    .foot p {
        font-size: 1.125rem;
    }

    .foot .email-form {
        right: 1rem;
    }

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .mobile1 {
        width: 23.75rem;
        position: relative;
        top: 2rem;
        right: -16rem;
        z-index: 0;
    }
    
    .mobile2 {
        width: 23.75rem;
        position: relative;
        top: 8rem;
        right: -13rem;
    }

    .brainy {
        position: relative;
        top: -45rem;
        right: 28rem;
        width: 21.25rem;
    }

    .download img {
        width: 35rem;
        margin-right: 12rem;
    }

    .download.link {
        text-align: justify;
    }

    .download-link p {
        width: 40rem;
        font-size: 1.55rem;
    }

    .download-link img {
        width: 25rem;
    }
}